
body {
    width: 90%;
    margin: auto;
    
}
.container{
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 5px;
}

img{
    width: 80%;
    margin: auto;
    height:150px;
}
.visited{
    border: 5px solid green;
     margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.notvisited{
     border: 5px solid red;
      margin: 10px;
    padding: 10px;
    border-radius: 20px;
}